<div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>About Us<br></h1>
          <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas
            consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit
            quaerat ipsum dolorem.</p>
        </div>
      </div>
    </div>
  </div>
  <nav class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li class="current">About Us<br></li>
      </ol>
    </div>
  </nav>
</div><!-- End Page Title -->
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/user/about/tab1">Tab 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/user/about/tab2">Tab 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/user/about/tab3">Tab 3</a>
  </li>

</ul>

<!-- About Us Section -->
<section id="about-us" class="section about-us">


  <!-- <app-about-tab-one></app-about-tab-one> -->
  <router-outlet></router-outlet>

</section><!-- /About Us Section -->


<!-- Testimonials Section -->
